BasedOnStyle: LLVM

AlignAfterOpenBracket: AlwaysBreak
AlignEscapedNewlines: DontAlign
AlignTrailingComments: false
AllowAllArgumentsOnNextLine: true
AlwaysBreakAfterReturnType: TopLevelDefinitions
BinPackArguments: false
BinPackParameters : false
ColumnLimit: 79
ContinuationIndentWidth: 4
IndentWidth: 4
SpacesBeforeTrailingComments: 2
