BasedOnStyle: LLVM

AlignAfterOpenBracket: AlwaysBreak
AlignEscapedNewlines: DontAlign
AlignTrailingComments: false
AllowAllArgumentsOnNextLine: false
AlwaysBreakAfterReturnType: TopLevelDefinitions
BinPackArguments: true
BinPackParameters : true
ColumnLimit: 79
ContinuationIndentWidth: 4
IndentWidth: 4
SpacesBeforeTrailingComments: 2
